<p>
  All fields
</p>
<div *ngIf="newGameId">
  new Game id is {{newGameId}}
  <a routerLink="/game/{{newGameId}}">go to new game</a>
</div>
<div *ngFor="let oneField of fields">
  {{oneField.name}}
  <app-field [oneField]="oneField"></app-field>
  <button (click)="startNewGame(oneField.id)">Start game on this map</button>
</div>
